//fonts
$header: 'Pacifico', cursive;
$text:'Lora', serif;

//colors

/*$background: linear-gradient(to bottom, #2c2cc9, #8f2cba, #c03ead, #df5da3, #f280a2, #fb949d, #feaa9e, #ffbfa6, #ffcda2, #ffdc9f, #ffeda0, #fdffa6); */

$yellow: #fdffa6;
$brown: #c15952;
$blue: #607bbf;
$btn: #cadeff;




